.year {
  width: 150px;
  height: 50px;
  border: 1px solid #333;
  font-size: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
}

.year::before, .year::after {
  position: absolute;
  background: #eee;
  z-index: -1;
  transition: 1s;
  content: '';
}

.year::before {
  height: 50px;
  width: 130px;
}

.year::after {
  width: 150px;
  height: 30px;
}

.year-container {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.year:hover::before {
  width: 0px;
  background: #fff;
}

.year:hover::after {
  height: 0px;
  background: #fff;
}

.year:hover {
  background: #fff;
}